
.line {
    background-color: #eaebeb;
    margin-top: 0;
    height: 2px;
}

/* Gästebuch */
.projekt {
    grid-area: projekt;
}

.projekt h1{
    color: var(--darkgray);
}

.projekt ul :last-child {
    margin-bottom: 24px;
}

.projekt ul > li > a, .projekt ul > li > strong {
    margin-bottom: 20px;
}

td {
    list-style-type: none;
    padding-left: 20px;
}

.tablebold {
    font-weight: bold;
}

.ueber {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: var(--darkgray);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}



/* Wrapper */
.wrapper {
    margin: 1em;
    /* margin-left: 1em; */
    /* width: 90%; */

    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    "projekt"
    "career"
    "info";
}

@media only screen and (min-width: 500px) {
    .wrapper {
        grid-template-columns: auto;
        grid-template-areas:
      "projekt"
      "career"
      "info";
    }
}

@media only screen and (min-width: 600px) {
    .wrapper {
        grid-gap: 20px;
        grid-template-columns: auto 35%;
        grid-template-areas:
      "projekt  info"
      "career info";
    }
}

.box {
    color: #fff;
    border-radius: 5px;
    font-size: 150%;
}
