
.line {
    background-color: #eaebeb;
    margin-top: 0;
    height: 2px;
}

/* Gästebuch */
.personal {
    grid-area: personal;
}

h1 {
    color: var(--darkgray);
}

td {
    list-style-type: none;
    padding-left: 20px;
}

.tablebold {
    font-weight: bold;
}

#suche {
    background-color: var(--lightblue);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem auto;
    border-radius: 10px;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#suche input {
    font-size: 15px;
}

.eintrag {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem auto;
    border-radius: 10px;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    margin-top: 20px;
}

#navigation {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px auto;
    border-radius: 1em;
    justify-content: center;
    animation: grow 5s infinite;
}

.button {
    color: white;
    border-radius: 25px;
    border: none;
    height: 35px;
    font-size: 16px;
    margin: 6px;
    cursor: pointer;
}

.button:disabled {
    background-color: var(--darkgray);
    cursor: default;
}

.wechselButton {
    background-color: var(--darkblue);
    width: 100px;
}

.nummerButton {
    background-color: var(--lightblue);
    width: 35px;
}

.aktiverButton {
    color: var(--darkblue);
    font-weight: bold;
}


/* Sidebar */
.info {

    grid-area: info;
    color: #444;
}

.info div {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem auto;
    border-radius: 10px;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    background-color: var(--lightblue);
}


/* Wrapper */
.wrapper {
    margin: 1em;
    /* margin-left: 1em; */
    /* width: 90%; */

    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    "personal"
    "career"
    "info";
}

@media only screen and (min-width: 500px) {
    .wrapper {
        grid-template-columns: auto;
        grid-template-areas:
      "personal"
      "career"
      "info";
    }
}

@media only screen and (min-width: 600px) {
    .wrapper {
        grid-gap: 20px;
        grid-template-columns: auto 35%;
        grid-template-areas:
      "personal  info"
      "career info";
    }
}

.box {
    color: var(--darkgray);
    border-radius: 5px;
    font-size: 150%;
}
