<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/form.css">

    <script src="js/vue.global.js"></script>
    <script type="module" src="js/app-form.js"></script>

    <title>PG - Mitmachen</title>
</head>

<body class="app">
<header>
    <div id="name">
        <h1>Project Guestbook</h1>
        <hr>
        <h1>HS Coburg</h1>
    </div>
</header>
<div id="logoSwitch">
    <a href="../PlainHTML/form.html">
        <img src="../img/Vue.js_Logo_2.svg">
    </a>
</div>
<nav>
    <ul>
        <li><a href="index.html">Über uns</a></li>
        <li><a href="guestbook.html">Gästebuch</a></li>
        <li><a href="form.html" class="active">Mitmachen</a></li>
        <li><a href="https://github.com/erdnaskram/iSem-HS-Co-Se5">SourceCode</a></li>
    </ul>
</nav>
<main class="wrapper">

    <section v-if="!confirmed"
            class="box formular">
        <div>
            <h2>Neuer Gästebucheintrag</h2>
            <h3>Dein Name</h3>
            <input class="textInput" type="text" placeholder="Vorname"
                    v-model="neuerEintrag.name.vorname">
            <input class="textInput" type="text" placeholder="Nachname"
                   v-model="neuerEintrag.name.nachname">
            <h3>Geburtstag</h3>
            <input class="textInput" type="date"
                   v-model="neuerEintrag.geburtstag">
            <h3>Mail</h3>
            <input class="textInput" type="email" placeholder="Mail"
                   v-model="neuerEintrag.mail">
            <h3>Wohnort</h3>
            <input class="textInput" type="number" placeholder="PLZ"
                   v-model="neuerEintrag.plz">
            <input class="textInput" type="text" placeholder="Ort"
                   v-model="neuerEintrag.wohnort">
            <h3>Hobbys</h3>
            <input class="textInput" type="text" placeholder="Hobbys"
                    v-model="hobby"
                    v-on:keydown.enter="addHobby()">
            <button v-on:click="addHobby()">Add</button>
            <ul v-for="hobby in neuerEintrag.hobbys">
                <li>{{hobby.beschreibung}}
                    <button v-on:click="deleteHobby(hobby.beschreibung)">x</button>
                </li>
            </ul>
            <h3>Nachricht</h3>
            <textarea rows="4" cols="50" v-model="neuerEintrag.nachricht"></textarea>
            <br>
            <button id="submit" v-on:click="confirmForm()">Submit</button>
        </div>
    </section>

    <section v-if="confirmed"
            class="box eintrag">
        <h2>{{neuerEintrag.name.vorname}} {{neuerEintrag.name.nachname}}</h2>
        <hr class="line">
        <table>
            <tr>
                <td class="tablebold">Geburtstag:</td>
                <td>{{neuerEintrag.geburtstag}}</td>
            </tr>
            <tr>
                <td class="tablebold">Kontakt:</td>
                <td>{{neuerEintrag.mail}}</td>
            </tr>
            <tr>
                <td class="tablebold">PLZ/Wohnort:</td>
                <td>{{neuerEintrag.plz}} {{neuerEintrag.wohnort}}</td>
            </tr>
            <tr>
                <td class="tablebold">Hobbys:</td>
                <td><a v-for="hobby in neuerEintrag.hobbys">{{hobby.beschreibung + " "}}</a></td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="tablebold">Nachricht:</td>
            </tr>
            <tr>
                <td>{{neuerEintrag.nachricht}}</td>
            </tr>
        </table>
    </section>
</main>
<hr>
<footer>
    <ul id="social">
        <li><a>FB</a></li>
        <li><a>TW</a></li>
        <li><a>XI</a></li>
    </ul>
    <ul id="rechtliches">
        <li>
            <a>Netzwerk</a>
        </li>
        <li>
            <a>Impressum</a>
        </li>
    </ul>
</footer>
</body>
</html>