<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/guestbook.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>


    <script src="https://unpkg.com/vue@latest"></script>
    <script type="module" src="./js/app.js"></script>

    <title>Gästebuch</title>
</head>

<body class="app">
    <header>
        <div id="name">
            <h1>Project Guestbook</h1>
            <hr>
            <h1>HS Coburg</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Über uns</a></li>
            <li><a href="guestbook.html" class="active">Gästebuch</a></li>
            <li><a href="form.html">Mitmachen</a></li>
            <li><a href="https://github.com/erdnaskram/iSem-HS-Co-Se5">SourceCode</a></li>
        </ul>
    </nav>
    <main class="wrapper">
        <section class="box projekt">
            <h1>Gästebucheinträge</h1>
            <div v-for="eintrag in gaestebuch" class="eintrag">
                <h2>{{eintrag.name.vorname}} {{eintrag.name.nachname}}</h2>
                <hr class="line">
                <table>
                    <tr>
                        <td class="tablebold">Geburtstag:</td>
                        <td>{{eintrag.geburtstag}}</td>
                    </tr>
                    <tr>
                        <td class="tablebold">Kontakt:</td>
                        <td>{{eintrag.mail}}</td>
                    </tr>
                    <tr>
                        <td class="tablebold">PLZ/Wohnort:</td>
                        <td>{{eintrag.plz}} {{eintrag.wohnort}}</td>
                    </tr>
                    <tr>
                        <td class="tablebold">Hobbys:</td>
                        <td><a v-for="hobby in eintrag.hobbys">{{hobby.beschreibung}}</a></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td class="tablebold">Nachricht:</td>
                    </tr>
                    <tr>
                        <td>{{eintrag.nachricht}}</td>
                    </tr>
                </table>
            </div>
        </section>

        <section class="box info">
            <div>
                <h2>Mitmachen</h2>
                <p>Du findest dieses komplett inhaltslose und langweilige Projekt cool? Schön für dich, wenn du auch einen
                    Beitrag leisten willst, den vermutlich nie jemand liest, dann klicke auf Mitmachen um deinen
                    persönlichen
                    Senf dazuzugeben!</p>
            </div>
        </section>
    </main>
    <hr>
    <footer>
        <ul id="social">
            <li><a href="https://www.google.com/search?q=facebook"><img src="assets/img/fb.png"></a></li>
            <li><a href="https://www.google.com/search?q=twitter"><img src="assets/img/tw.png"></a></li>
            <li><a href="https://www.google.com/search?q=xing"><img src="assets/img/xi.png"></a></li>
        </ul>
        <ul id="rechtliches">
            <li>
                <a href="https://www.google.com/search?q=netzwerk&oq=netzwerk&aqs=chrome..69i57j0i433l3j0i131i433j0i433l2j0j0i433j0.2023j0j7&sourceid=chrome&ie=UTF-8">Netzwerk</a>
            </li>
            <li>
                <a href="https://www.google.com/search?q=impressum&oq=impressum&aqs=chrome.0.69i59j0i433j0j0i433j0l6.2023j0j9&sourceid=chrome&ie=UTF-8">Impressum</a>
            </li>
        </ul>
    </footer>
</body>
</html>