
.line {
    background-color: #eaebeb;
    margin-top: 0;
    height: 2px;
}

/* Gästebuch */
.personal {
    grid-area: personal;
}

h1{
    color: var(--darkgray);
}

td {
    list-style-type: none;
    padding-left: 20px;
}

.tablebold {
    font-weight: bold;
}

.eintrag {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem auto;
    border-radius: 10px;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    margin-top: 20px;

}


/* Sidebar */
.info {

    grid-area: info;
    color: #444;
}

.info div{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem auto;
    border-radius: 10px;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    background-color: var(--lightblue);
}


/* Wrapper */
.wrapper {
    margin: 1em;
    /* margin-left: 1em; */
    /* width: 90%; */

    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    "personal"
    "career"
    "info";
}

@media only screen and (min-width: 500px) {
    .wrapper {
        grid-template-columns: auto;
        grid-template-areas:
      "personal"
      "career"
      "info";
    }
}

@media only screen and (min-width: 600px) {
    .wrapper {
        grid-gap: 20px;
        grid-template-columns: auto 35%;
        grid-template-areas:
      "personal  info"
      "career info";
    }
}

.box {
    color: var(--darkgray);
    border-radius: 5px;
    font-size: 150%;
}
